# King County House Sales

# 1. Introduction
## Business Understanding

## Problem Statement
The business problem is the need to provide advice to homeowners about how home renovations might increase the estimated value of their homes. We will use multiple linear regression to predict the edstimated value of homes in King County. By analyzing various features such as bedrooms, bathrooms, square footage etc, we aim to provide homeowners with valuable insights on how specific home renovations may impact and value their properties.
## Main Objective
The main objective of this project is to develop a multiple linear regession model that accurately predicts the estimated value of homes in King County. By analyzing the relationships between various features and sale prices, the model will provide insights on how specific home renovations impact the estimated value. The ultimate aim is to empower homeowners with actionable recommendations, enebling them to make informed decisions about home renovation that have th potential to increase the value of their homes.
## Defining the metrics for success
The project would be considered a success if:
- The predictive model achieves an R-Squared value of at least 80%. This indicates that the model can explain a significant portion of the variation in the estimated home values based on the selected feature.
- The Mean Absolute Percentage Error (MAPE) of the model is less than or equal to 10%. MAPE measures the average percentage difference between the predicted and actual values. A MAPE of 10% or lower indicates that on average, the model's predictions deviate by no more than 10% from the actual values.

## Experimental Design
1. Data Collection. Here we will describe how the King County Sales dataset was obtained and any data preprocessing steps that were performed such as handling missing values, data cleaning and feature selection.
2. Exploratory Data Analysis. Here we will summarize the initial exploration and visualization of the dataset to gain insights intothe distribution of variables, identify any outliers and understand the relationships between features and the target variable.
3. Feature Engineering. Here we will detail the steps taken to transform or engineer the features, such as scling, creating interactio terms, or encoding categorical variables. Explain the rationale behid these transformations and how they contribute to improving the regression model.
4. Model Building. Here we will outline the process of building the multiple linear regression model by selecting the relevant features, splitting the data into training and testing sets, fitting the model to the training data, and evaluating the model's performance using appropriate validation techniques.
5. Model Evaluation. Here we will present the evaluation metrics used to assess the model's performance, such as R-Squared, RMSE, MAE and MAPE. Discuss the model's performance against the predefined success metrics and analyze the strengths and limitations of the model.
6. Model Improvement. Here we will descibe any iteration or improvements made to the initial model based on the evaluation results. This may involve feature selection, feature engineering, regularization techniques, or trying alternative regression models to enhance the models performance.
7. Interpretaion of Coefficients. Here we will discuss the interpretation of the regression coefficients and their significance in relation to the target variable. Explain how these coefficients provide insights into the impact of different features on the estimated home value.
8. Conclusion. Here we will summarize the findings from the analysis, including the final regression model's performance, the key factors influencing home value, and any actionable recommendations for homeowners based on the model's insights.

## Data Understanding
The data that was  used in this project was collectedfrom the following websites:
-

# 2. Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# 3. Loading the Data

In [2]:
house = pd.read_csv("kc_house_data.csv")
house.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,NO,NaN,...,7 Average,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,NONE,...,8 Good,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,NO,NONE,...,7 Average,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,NO,NONE,...,7 Average,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,NO,NONE,...,7 Average,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,NO,NONE,...,7 Average,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,NO,GOOD,...,9 Better,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,NO,NONE,...,7 Average,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,NO,NONE,...,7 Average,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,NO,NONE,...,7 Average,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,NO,NONE,...,7 Average,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850

# 4. Checking the Data

In [3]:
# checking the data types of the data
house.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront        object
view              object
condition         object
grade             object
sqft_above         int64
sqft_basement     object
yr_built           int64
yr_renovated     float64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [4]:
# checking the info of the data
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [5]:
# checking the description of the data
house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# 5. Data Preparation

In [6]:
# identifying missing values in the dataframe
house.isnull().any()

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront        True
view              True
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated      True
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [7]:
# checking for duplicates in the id column
house['id'].duplicated().sum()

177

In [8]:
# dropping the duplicates from id column
house = house.drop_duplicates(subset = 'id', keep = 'first')

In [9]:
# ignoring a list of features irrelevant to our analysis
droped_features = ['date', 'view', 'sqft_above', 'sqft_basement', 'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
house = house.drop(droped_features, axis = 1)

In [10]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21420 entries, 0 to 21596
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21420 non-null  int64
 1   price        21420 non-null  float64
 2   bedrooms     21420 non-null  int64
 3   bathrooms    21420 non-null  float64
 4   sqft_living  21420 non-null  int64
 5   sqft_lot     21420 non-null  int64
 6   floors       21420 non-null  float64
 7   waterfront   19067 non-null  object
 8   condition    21420 non-null  object
 9   grade        21420 non-null  object
 10  yr_built     21420 non-null  int64
 11  zipcode      21420 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 2.1+ MB

In [11]:
# Replacing missing values on the waterfront property
house['waterfront'] = house['waterfront'].fillna('NO')